#############################################################################
    Welcome to {{ansible_nodename}} ({{ansible_default_ipv4.address}})
#############################################################################

